.buttonbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: black;
  width: 100%;
}

.friendsbutton,
.homebutton,
.profilebutton,
.scrapbookbutton {
  font-family: 'Franklin Gothic Medium', 'Courier New', Courier, monospace, serif, sans-serif;
  font-weight: bolder;
  width: 25%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 200%;
  color: rgb(182, 182, 182);
  text-decoration: none;
}

.scrapbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.canvas-wrapper {
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 5px solid #000;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  flex-shrink: 0;
}

.button-container input[type="file"],
.button-container button,
.button-container input[type="text"] {
  margin: 5px;
  flex: 1 1 auto;
  background-color: black;
  color: rgb(182, 182, 182);
  font-family: 'Franklin Gothic Medium', 'Courier New', Courier, monospace, serif, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.input-text-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-text-container input[type="text"] {
  font-family: 'Franklin Gothic Medium', 'Courier New', Courier, monospace, serif, sans-serif;
  flex-grow: 1;
  margin-right: 5px;
  background-color: white;
  color: black;
}

body {
  overflow-x: hidden;
}